@font-face {
    font-family: 'GROSTICK';
    src: url(../fontes/GROSTICK.otf);
}

@font-face {
    font-family:'poppins' ;
    src: url(../fontes/Poppins-Light.ttf);
}

html, body {
    height: 100%;
    font-family: 'poppins';
  
}
h5{
    font-family: 'GROSTICK';
    font-size: 50px;
    color: #77060F;
    background-color: #CCCCCC;
    border-radius: 1000px 10px 1000px 100px;


}
    



body.login div {
    height: 100vh;
    display: flex;
    align-items: center
    
}
.btn-wine{
    background-image: linear-gradient(to right, #76060F, #A50B18, #CC1935);
    color: white;
    border: 1px solid #722F37;
}
.btn-wine:hover{
    background-image: linear-gradient(to left, #76060F, #A50B18, #CC1935);
    transform: scale(1.1);
    transition: 1s;
    color: white;
}
a{
    text-decoration: none;
}


.nav-link:hover{
   color: #121212;
    background-color: #CCCCCC;
    transform: scale(1.1);
    transition: 0.5s;
   
}


.gradient{
    background-image: linear-gradient(to right, #76060F, #A50B18, #CC1935);
}

.gradient_button{
    border: solid 1px #efefef;
    color: #efefef;
    
  
}
.teste{
    position: relative;
    left: 1000px
}

.nav{
    border: solid 1px #efefef;
    height: 100vh;
}

#paginaPrincipal{
    border: solid 1px #efefef;
}

#formulario1, #formulario2{
    border: solid 1px #efefef;
}

.btn{
    border: solid 1px #efefef;
}




.sidebar {
    width: 280px;
  

    color: white;
}
.sidebar a {
    color: white;
    transition: all 0.3s;
}
.sidebar a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}
.bebidas_desc {
    color: #77060f;
  }
 

  .filter-container {
    margin: 0px;
  }

  .filtr-title {
    position: absolute;
    bottom: 20px;
    padding: 5px;
    background: #e3e3e3;
  }
  img {
    height: 70%;
    width: 70%;
  }



